
.peliCard{
    list-style: none;
    font-size: 1.5rem;
    color: wheat;
    text-align: center;
}

.peliCard:hover{
    opacity: 1s;
}

.peliIMG{
    border-radius: 1.2rem;
}

a{
    text-decoration: none;
}

@media (max-width: 560px) {
    .peliIMG{
        width: 90%;
        height: auto;
    }
}